openapi: 3.0.0
info:
  description: Queensaver API to send in sensor data and retrieve it. It's also used
    for user management.
  title: Queensaver API
  version: 0.0.1
servers:
- description: Queensaver API Server
  url: https://api.queensaver.com/v1
security:
- cookieAuth: []
paths:
  /user:
    post:
      description: This call creates a user in the queensaver system.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              examples:
                missingData:
                  value: Data is missing.
              schema:
                $ref: '#/components/schemas/errorMessage'
          description: The provided parameters are incorrect
      security: []
      summary: Create a user
  /login:
    post:
      description: This call is meant for interactive web applications. Be aware that
        the server returns a cookie with a 24 hour lifetime.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/login'
        required: true
      responses:
        "200":
          description: Returns a cookie to the browser with the key called 'token'
          headers:
            Set-Cookie:
              explode: false
              schema:
                example: token=abcde12345; Path=/; HttpOnly
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
          description: The provided parameters are incorrect
      security: []
      summary: Authenticate a user against the system.
  /scale:
    get:
      description: This returns scale values for a certain, defineable date range.
        The request needs to send a cookie along with the request. The cookie is stored
        under the key called "token". Note that this returns the scale data for a
        QBox Client (independent of the beeHive), the API call for an actual beeHive
        is different.
      parameters:
      - description: Either the cookie or this Q-Token must be set to be authorized
          for the API call.
        example: 8B0FE5CF-C096-4B3E-8748-27906B4A9449
        explode: false
        in: header
        name: Q-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Either this cookie or the Q-Token must be set to be authorized
          for the API call.
        example: 8B0FE5CF-C096-4B3E-8748-27906B4A9449
        explode: true
        in: cookie
        name: token
        required: false
        schema:
          type: string
        style: form
      - description: The Mac Address of the QBox client. You can get all QBox IDs
          and clients with the /config API call.
        example: 829898a53801
        explode: true
        in: query
        name: bhive_id
        required: true
        schema:
          type: string
        style: form
      - description: The Unix Time (epoch) that defines the end time of the scale
          measurements. The beginning is defined by the seconds_in_the_past parameter.
        example: 1639170002
        explode: true
        in: query
        name: epoch
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: How many seconds we go to the past to get the data measurements.
        example: 7200
        explode: true
        in: query
        name: seconds_in_the_past
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/weight'
                type: array
          description: Successfully returned a list of scale measurements
        "400":
          description: Generic error
        "500":
          description: Internal error
      security:
      - cookieAuth: []
      summary: Get Scale values
components:
  schemas:
    errorMessage:
      description: A text message describing an error
      maxLength: 256
      type: string
    weight:
      example:
        weight: 53.2345
        epoch: 1639169129
        bhive_id: 829898a53801
      properties:
        bhive_id:
          description: bhive_id to identify the data source. Might become empty in
            a future iteration as it's redundant with the query parameter.
          example: 829898a53801
          type: string
        weight:
          description: actual measurement of weight
          example: 53.2345
          format: float
          type: number
        epoch:
          description: timestamp of the measurement on one second precision
          example: 1639169129
          format: int64
          type: integer
      type: object
    login:
      properties:
        username:
          description: Username, must be unique to the queensaver system. We encourage
            using email-addresses here.
          example: jon@doe.com
          maxLength: 256
          type: string
        password:
          description: Password
          example: trustno1
          format: password
          type: string
      required:
      - password
      - username
      type: object
    user:
      properties:
        username:
          description: Username, must be unique to the queensaver system. We encourage
            using email-addresses here.
          example: jon@doe.com
          maxLength: 256
          type: string
        password:
          description: Password
          format: password
          type: string
        firstName:
          description: First name of the user
          example: Hans
          maxLength: 256
          type: string
        lastName:
          description: Last name of the user
          example: Ecker
          maxLength: 256
          type: string
      required:
      - firstName
      - lastName
      - password
      - username
      type: object
  securitySchemes:
    cookieAuth:
      in: cookie
      name: token
      type: apiKey
